<footer class="site-footer">
  <div class="wrap">
    <div class="grid">
      <div class="grid__col grid__col--12-of-12">
        <hr class="separator">
      </div>
      <div class="grid__col grid__col--6-of-12">
        <p>Jalal Abdul Aziz — Branding & Digital</p>
      </div>
      <div class="grid__col grid__col--3-of-12 footer-contact-container">
          <ul>
            <li><span>P. &nbsp;</span><a class="footer-link" href="https://api.whatsapp.com/send?phone=6281298546411" target="_blank">+62 81 298 546 411</a></li>
            <li><span>E. &nbsp;</span><a class="footer-link" href="mailto:jalalabdulaziz@gmail.com">jalalabdulaziz@gmail.com</a></li>
          </ul>
      </div>
      <div class="grid__col grid__col--3-of-12 top-button-container">
              <a class="top-button footer-link">Back to top</a>
            </div>
    </div>
  </div>
</footer>