<footer class="site-footer">
  <div class="wrap">
    <div class="grid">
      <!-- <div class="grid__col grid__col--12-of-12">
        <hr class="separator-fullwidth">
      </div> -->
      <div class="grid__col grid__col--6-of-12 grid__col--s-2-of-3">
        <ul>
          <li>Graphic Design &#x2571 Art Direction</li>
        </ul>
      </div>
      <div class="grid__col grid__col--6-of-12 grid__col--s-1-of-3 top-button-container">
        <a class="top-button footer-link">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 40 15" style="enable-background:new 0 0 40 15;" xml:space="preserve">
       <polyline class="st0" points="2.546,13.643 20,1.357 37.454,13.643 "/>
       </svg>
       </a>
      </div>
    </div>
  </div>
</footer>
