<footer class="site-footer">
  <div class="wrap">
    <div class="grid">
      <div class="grid__col grid__col--12-of-12">
        <hr class="separator">
      </div>
      <div class="grid__col grid__col--6-of-12">

          <p>Jalal is a graphic designer working and living in Bali</p>
          <br>
          <ul>
            <li><a class="footer-link" href="https://api.whatsapp.com/send?phone=6281298546411" target="_blank">P. +62 81 298 546 411</a></li>
            <li><a class="footer-link" href="mailto:jalalabdulaziz@gmail.com">E. jalalabdulaziz@gmail.com</a></li>
          </ul>
      </div>
      <div class="grid__col grid__col--6-of-12 top-button">
              <a class="top-button footer-link">Back to top</a>
            </div>
    </div>
  </div>
</footer>