<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  {% if page_paths %}
  <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="bar-1"></span>
        <span class="bar-2"></span>
      </label>
      <nav class="site-nav">
      <div class="page-link-container">
        <a class="page-link" href="{{ "/" | relative_url }}">Project</a>
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
          <span class="copyright page-link">&copy; 20{{ site.time | date: '%y' }} {{ site.author }}, unless otherwise noted.</span>


      </nav>
      </div>
    {% endif %}
  </div>
</header>