<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  {% if page_paths %}
  <div class="site-title-container">
    <a class="site-title" href="{{ "/" | relative_url }}">Jalal Abdul Aziz</a>
  </div>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="bar-1"></span>
        <span class="bar-2"></span>
      </label>
      <nav class="site-nav">
      <div class="page-link-container">
            <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a>
            <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a>
            <a class="page-link external" href="https://www.behance.net/jalalabdul" target="_blank">Behance</a>
            <a class="logo" href="{{ site.url }}"><svg id="Layer_1" data-name="Layer 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 42 42"><defs></defs><title>Untitled-1</title><path class="cls-1" d="M25,45A21,21,0,1,1,46,24,21.024,21.024,0,0,1,25,45ZM25,4A20,20,0,1,0,45,24,20.023,20.023,0,0,0,25,4Zm8,15H31L27,29h2Zm-4,0H27L23,29h2Zm-4,0H23L19,29h2Zm-8.8,7L15,29h2l1.2-3Z" transform="translate(-4 -3)"/></svg></a>
      </div>
      </nav>
    {% endif %}
  </div>
</header>