/**
 * Font
 */
@font-face {
  font-family: 'webfont_1';
  src: url('/assets/fonts/webfont_1-regular.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'webfont_1';
  src: url('/assets/fonts/webfont_1-medium.woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'webfont_2';
  src: url('/assets/fonts/webfont_2-regular.woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * Reset some basic elements
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/**
 * Basic styling
 */
body,
body.light-mode {
  font-family: "webfont_1", sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: 'lnum'on;
  line-height: 1.6;
  letter-spacing: .03em;
  color: #000;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

::selection {
  background: #e5e5e5;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.text-center {
  text-align: center !important;
}

video {
  width: 100%;
}

/**
 * Wrapper
 */
.wrap {
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (40px));
    max-width: calc(800px - (40px));
    padding-right: 20px;
    padding-left: 20px;
  }
}

.light-mode {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/**
 * Dark mode
 */
.dark-mode {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body.dark-mode {
  color: #fff !important;
  background: #000 !important;
}

.dark-mode .pace .pace-progress {
  background: #fff !important;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.dark-mode a,
.dark-mode a:visited,
.dark-mode a:hover,
.dark-mode {
  color: #fff;
}

.dark-mode .site-nav-link {
  color: #999 !important;
}

.dark-mode .switch-light {
  opacity: 0 !important;
}

.dark-mode .switch-dark {
  opacity: 1 !important;
}

.dark-mode .switch svg,
.dark-mode .arrow-top {
  fill: #fff !important;
}

body.dark-mode::-webkit-scrollbar-track {
  background-color: #000;
}

body.dark-mode::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/**
 * Scrollbar
 */
body.light-mode::-webkit-scrollbar-track {
  background-color: #fff;
}

body.light-mode::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

body.light-mode::-webkit-scrollbar-thumb {
  background-color: #000;
}

body.light-mode::-moz-selection {
  color: #000;
  background: #999;
}

/**
 * Pace.js
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #000;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


/**
 * Page transition animation
 */

@-webkit-keyframes anim-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.anim-in {
  animation: anim-in 0.4s ease;
}

/**
 * Images
 */
.post-img img,
.project-thumb-container img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 32px;
  font-family: "webfont_2", serif;
  line-height: 1.3em;
  letter-spacing: 0;
}

h1 a:hover {
  text-decoration: line-through;
}

h5 {
  font-family: "webfont_1", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}

/**
 * Links
 */
a {
  color: #000;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

p a {
  text-decoration: none;
}

p a:hover {
  text-decoration: none;
}

/**
 * Post Nagigation
 */

.post-nav {
  margin-top: 20px;
}

.post-nav-next {
  text-align: right;
}

.post-nav-projects {
  text-align: center;
}

.post-nav-back {
  text-align: left;
}

.top-button {
  display: block;
  width: 40px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
}

.top-button svg {
  width: 40px;
  height: auto;
}


/**
 * Site header
 */

.site-nav-link {
  color: #999;
}

.site-header {
  width: 100%;
  font-family: 'webfont_1', sans-serif;
  color: #999;
  margin: 0 auto;
  padding: 3vw 0;
}

.site-title {
  font-family: 'webfont_2', serif;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.site-header a {
  display: inline-block;
}

.site-header a:hover {
  text-decoration: none;
}

logo-container a:hover {
  border-bottom: none;
  padding-bottom: 0;
}

.site-nav {
  padding-top: 30px;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .site-nav-link:not(:last-child) {
  margin-right: 30px;
}

.site-nav-link-container {
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 0;
}

.dark-mode-switch {
  position: absolute;
  width: 18px;
  height: 8px;
  left: 20px;
  top: 20px;
}

.switch {
  display: flex;
  justify-content: center;
}

.switch svg {
  width: 18px;
  height: 8px;
}

.switch .switch-dark {
  opacity: 0;
  position: absolute;
}

.switch:hover {
  border: none !important;
  padding: 0 !important;
}

/**
 * Stamp
 */

.logo-stamp-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  z-index: -999;
}

.logo-stamp {
  position: absolute;
  height: 125px;
  width: 125px;
  right: 0;
  top: -15px;
}

.logo-stamp svg {
  fill: #ec1c24;
}

/**
 * Site footer
 */

.site-footer {
  font-size: 21px;
  font-family: "webfont_2", serif;
  line-height: 1.3em;
  letter-spacing: 0;
  text-align: center;
  padding: 3vw 0;
}

.site-footer p {
  text-align: center;
}

.site-footer .footer-link {
  position: relative;
}

.site-footer .footer-link:after {
  content: '';
  position: absolute;
  width: 0%;
  bottom: -2px;
  left: 0;
  border-top: 1px solid;
  -webkit-transition: all .4s cubic-bezier(.25,.46,.45,.94);
  transition: all .4s cubic-bezier(.25,.46,.45,.94);
}

.site-footer .footer-link:hover:after {
  width: 100%;
}


/**
 * Page content
 */

.post-content {
  margin-top: 3vw;
}

.project-thumb-container {
  position: relative;
  width: 100%;
}

.project-thumb {
  display: block;
  transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

.project-thumb-item {
  margin-bottom: 40px;
}

.project-thumb-secondary {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.project-thumb-title {
  font-size: 28px;
  font-family: "webfont_2", serif;
  line-height: 1.3em;
  letter-spacing: 0;
  text-align: center;
  padding-top: 15px;
}

.project-thumb-subtitle {
  font-size: 12px;
  color: #999;
  text-align: center;
}

.project-links:hover .project-thumb-secondary {
  opacity: 1;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  line-height: 1.2;
}

.post-meta {
  font-family: "webfont_1", sans-serif;
  letter-spacing: .03em;
}

.post-meta {
  padding-top: 30px;
}

.post-meta-title {
  font-weight: 700;
}

ul.post-meta {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}

.post img {
  display: block;
  width: 100%;
}

.post-img {
  margin: 0 auto 30px auto;
}

.post-img .lazyload,
.post-img .lazyloading {
  opacity: 0;
  -webkit-transform: translate3d(0, 15%, 0);
  transform: translate3d(0, 15%, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.project-thumb-primary.lazyload,
.project-thumb-primary.lazyloading {
  opacity: 0;
  -webkit-transform: translate3d(0, 2%, 0);
  transform: translate3d(0, 2%, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.post-img .lazyloaded,
.project-thumb-primary.lazyloaded {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.project-thumb-secondary.lazyload,
.project-thumb-secondary.lazyloading {
  opacity: 0 !important;
}

.post-header {
  margin-bottom: 20px;
}


/**
 * Responsive
 */

@media screen and (min-width: 800px) {
  .post-header {
    margin-bottom: 30px;
  }
  
  .post-title {
    font-size: 36px;
  }
}


@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }

  .post-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .logo-stamp {
    right: 20px;
    height: 85px;
    width: 85px;
  }

  .site-title {
    font-size: 24px;
  }

  .site-nav-link {
    font-size: 12px;
  }

  .post-content {
    margin-top: 50px;
  }

  .post-list img {
    margin-bottom: 15px;
  }

  .project-thumb-title {
    font-size: 24px;
  }

  .post-meta-grey {
    margin-right: 0;
  }

  .post-img {
    margin: 0 auto 15px auto;
  }

  .dark-mode .logo svg {
    fill: #000;
  }

  .site-header,
  .site-footer {
    padding: 10vw 0;
  }

  .site-footer {
    font-size: 12px;
    margin: 0 auto;
  }
}