/**
 * Font
 */
@font-face {
  font-family: 'Phantom Sans0.5_Medium';
  src: url('/assets/fonts/PhantomSans0.5-Medium.woff') format('woff'),
    url('/assets/fonts/PhantomSans0.5-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phantom Sans0.5_Regular';
  src: url('/assets/fonts/PhantomSans-Regular.woff') format('woff'),
    url('/assets/fonts/PhantomSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/**
 * Reset some basic elements
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body,
body.light-mode {
  font-family: "Phantom Sans0.5_Regular", sans-serif;
  font-weight: normal;
  font-size: 19px;
  font-feature-settings: "ss01";
  line-height: 1.5;
  color: #333;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

::selection {
  background: #e5e5e5;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.text-center {
  text-align: center !important;
}

video {
  width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ecebea;
  margin: 0;
  padding: 20px 0;
  clear: both;
}

ul li,
ol li {
  list-style: none;
}


/**
 * Wrapper
 */
.wrap {
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (40px));
    max-width: calc(800px - (40px));
    padding-right: 20px;
    padding-left: 20px;
  }
}

.light-mode {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/**
 * Dark mode
 */
.dark-mode {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body.dark-mode {
  color: #fff !important;
  background: #000 !important;
}

.dark-mode .pace .pace-progress {
  background: #fff !important;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.dark-mode a,
.dark-mode a:visited,
.dark-mode a:hover,
.dark-mode {
  color: #fff;
}

.dark-mode .site-nav-link {
  color: #b4b4b4 !important;
}

.dark-mode .switch-light {
  opacity: 0 !important;
}

.dark-mode .switch-dark {
  opacity: 1 !important;
}

.dark-mode .switch-icon {
  fill: 1 !important;
}

.dark-mode .logo-stamp svg {
  fill: #2B2728 !important;
}

.dark-mode hr {
  border-top: 1px solid #1c1c1c
}

body.dark-mode::-webkit-scrollbar-track {
  background-color: #333;
}

body.dark-mode::-webkit-scrollbar {
  width: 6px;
  background-color: #333;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color: #fff;
}


/**
 * Scrollbar
 */
body.light-mode::-webkit-scrollbar-track {
  background-color: #fff;
}

body.light-mode::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

body.light-mode::-webkit-scrollbar-thumb {
  background-color: #333;
}

body.light-mode::-moz-selection {
  color: #333;
  background: #b4b4b4;
}


/**
 * Pace.js
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #333;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


/**
 * Page transition animation
 */

@-webkit-keyframes anim-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.anim-in {
  animation: anim-in 0.4s ease forwards;
}


/**
 * Images
 */
.post-img img,
.project-thumb-container img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}


/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-family: "Phantom Sans0.5_Medium", sans-serif;
  font-size: 19px;
  font-weight: normal;
  line-height: 1.3em;
}

h1 a:hover {
  text-decoration: line-through;
}

h5 {
  font-family: "Phantom Sans0.5_Medium", sans-serif;
  font-weight: normal;
  margin-bottom: 15px;
  letter-spacing: .15em;
}


/**
 * Links
 */
a {
  color: #333;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

p a {
  text-decoration: none;
}

p a:hover {
  text-decoration: none;
}


/**
 * Post Nagigation
 */

.post-nav {
  margin-top: 20px;
}

.post-nav-next {
  text-align: right;
}

.post-nav-projects {
  text-align: center;
}

.post-nav-back {
  text-align: left;
}

.top-button {
  color: #b4b4b4;
  cursor: pointer;
}


/**
 * Site header
 */

.site-header {
  width: 100%;
  font-family: 'Phantom Sans0.5_Regular', sans-serif;
  color: #b4b4b4;
  margin: 0 auto;
  padding: 3vw 0;
}

.site-nav-link {
  color: #b4b4b4;
}

label[for="nav-trigger"] {
  padding: 5px;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 3;
  padding-top: 5px;
}

label[for="nav-trigger"] span {
  float: right;
  display: block;
  width: 16px;
  height: 1px;
  margin-bottom: 3px;
  background: #333;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

label[for="nav-trigger"] span:nth-last-child(2) {
  width: 24px;
  margin-top: 4px;
}

.nav-trigger {
  display: none;
}

.site-title {
  font-family: 'Phantom Sans0.5_Regular', serif;
  line-height: 1;
}

.site-header a {
  display: inline-block;
}

.site-header a:hover {
  text-decoration: none;
}

logo-container a:hover {
  border-bottom: none;
  padding-bottom: 0;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .site-nav-link:not(:last-child) {
  margin-right: 30px;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 0;
}

.dark-mode-switch {
  width: 18px;
  height: 28px;
  float: right;
}

.dark-mode-switch:hover {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.switch {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-icon {
  width: 14px;
  height: 14px;
  fill: #333;
  -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.switch:hover {
  border: none !important;
  padding: 0 !important;
}


/**
 * Stamp
 */

.logo-stamp-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  z-index: -999;
  display: none;
}

.logo-stamp {
  position: absolute;
  height: 110px;
  width: 110px;
  right: 0;
  top: -14px;
}

.logo-stamp svg {
  fill: #D7D5B9;
}


/**
 * Site footer
 */

.site-footer {
  font-size: 15px;
  color: #b4b4b4;
  padding: 3vw 0;
}

.site-footer .footer-link,
.site-footer .footer-link:hover,
.site-footer .footer-link:visited {
  position: relative;
  color: #b4b4b4;
}

.site-footer .footer-link:after {
  content: '';
  position: absolute;
  width: 0%;
  bottom: -3px;
  left: 0;
  border-top: 1px solid;
  -webkit-transition: all .4s cubic-bezier(.25, .46, .45, .94);
  transition: all .4s cubic-bezier(.25, .46, .45, .94);
}

.site-footer .footer-link:hover:after {
  width: 100%;
}

/**
 * Page content
 */

.post-content {
  margin-top: 3vw;
}

.project-thumb-container {
  position: relative;
  width: 100%;
}

.project-thumb {
  display: block;
  transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

.project-thumb-secondary {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.project-thumb-item {
  margin-bottom: 40px;
}

.project-thumb-title {
  font-family: "Phantom Sans0.5_Medium", serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.3em;
  padding-top: 15px;
}

.project-thumb-subtitle {
  font-family: "Phantom Sans0.5_Regular", serif;
  color: #b4b4b4;
  font-weight: normal;
}

.project-links:hover .project-thumb-secondary {
  opacity: 1;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  line-height: 1.2;
}

.post-meta {
  font-family: "Phantom Sans0.5_Regular", sans-serif;
  padding-top: 30px;
}

ul.post-meta {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}

.post-meta-title {
  font-family: "Phantom Sans0.5_Medium", sans-serif;
  font-weight: normal;
}

.post img {
  display: block;
  width: 100%;
}

.post-img {
  margin: 0 auto 30px auto;
}

.post-img .lazyload,
.post-img .lazyloading {
  opacity: 0;
  -webkit-transform: translate3d(0, 15%, 0);
  transform: translate3d(0, 15%, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.project-thumb-primary.lazyload,
.project-thumb-primary.lazyloading {
  opacity: 0;
  -webkit-transform: translate3d(0, 2%, 0);
  transform: translate3d(0, 2%, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.post-img .lazyloaded,
.project-thumb-primary.lazyloaded {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.project-thumb-secondary.lazyload,
.project-thumb-secondary.lazyloading {
  opacity: 0 !important;
}

.post-header {
  margin-bottom: 20px;
}


/**
 * Responsive
 */

@media screen and (min-width: 800px) {
  label[for="nav-trigger"] {
    display: none;
  }

  .post-header {
    margin-bottom: 30px;
  }

  .top-button {
    text-align: right;
  }

  .dark-mode .switch-icon {
    fill: #fff;
  }
}

@media screen and (max-width: 600px) {

  body,
  body.light-mode,
  h1 {
    font-size: 16px;
  }

  .page-content {
    padding-top: 120px;
  }

  .site-header {
    background: rgba(255, 255, 255, .98);
    position: fixed;
    z-index: 8888;
    padding: 0;
  }

  .dark-mode .site-header {
    background: rgba(0, 0, 0, .98);
  }

  .site-nav {
    position: fixed;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 80%;
    top: 0;
    right: -82%;
    background: #e6573c;
    text-align: left;
    -webkit-transition: all .3s ease !important;
    transition: all .3s ease !important;
  }

  .dark-mode .site-nav-link {
    color: #333 !important;
  }


  .nav-trigger:checked~.site-nav {
    right: 0;
  }

  .nav-trigger:checked~label[for="nav-trigger"] .bar-2 {
    width: 24px;
  }

  .nav-trigger:checked~label[for="nav-trigger"] .bar-1 {
    width: 16px;
  }

  .logo-stamp {
    right: 20px;
    height: 85px;
    width: 85px;
  }

  .site-nav-link-container {
    padding: 120px 50px 50px 50px;
  }

  .site-nav .site-nav-link:not(:last-child) {
    margin-right: 0;
  }

  .site-nav-link {
    color: #333;
    display: block !important;
    font-size: 19px;
    line-height: 2;
  }

  .dark-mode-switch {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .post-content {
    margin-top: 50px;
  }

  .post-list img {
    margin-bottom: 15px;
  }

  .post-meta-grey {
    margin-right: 0;
  }

  .post-img {
    margin: 0 auto 15px auto;
  }

  .dark-mode .logo svg {
    fill: #333;
  }

  .site-footer {
    font-size: 13px;
  }

  .top-button {
    margin-top: 20px;
  }
}
