---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<a class="post-link" href="{{ post.url | relative_url }}"><img src="img/{{ post.img }}" class="u-max-full-width project-thumbnail" alt="{{ post.alt }}"></a>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
