---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<div id="screensaver"></div>
<body id="body" class="light-mode">
  {% include header.html %}
  <a href="/projects">
    <div class="wrap page-content" id="barba-wrapper" data-barba="wrapper">
      <div class="barba-container grid" data-barba="container">
        <div class="grid__col grid__col--12-of-12 grid__col homepage-video">
          <video loop muted playsinline="true" autoplay="true">
            <source src="{{ site.url }}/video/homepage_vid.mp4" type="video/mp4">
          </video>
        </div>
        <div class="grid__col grid__col--12-of-12 grid__col">
          {{ content }}
        </div>
      </div>
    </div>
  </a>
  {% include footer.html %}
</body>

</html>