---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<a class="post-link" href="{{ post.url | relative_url }}"><img src="img/{{ post.image-dir }}/{{ post.image-dir }}_1.png" class="work" alt="{{ post.alt }}"></a>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }} — {{ post.categories | escape }}</a>
      </li>
    {% endfor %}
  </ul>
</div>