---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
  <div class="post-description">{{ content }}</div>
  <ul class="post-meta">
          <li><span>Produced: </span><span class="post-meta-grey">{{ page.produced }}</span></li>
          {% if page.creative-director %}
          <li><span>Creative director: </span><span class="post-meta-grey">{{ page.creative-director }}</span></li>
          {% endif %}
        </ul>
  {% for file in site.static_files %}
  {% assign pageurl = page.image-dir %}
  {% if file.path contains pageurl %}
  {% unless file.path contains 'small' %}
    {% if file.extname == '.jpg' or '.gif'%}
    <div class="post-img">
    <img class="lazyload" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAAF0lEQVR42mP8/efvfwYKAOOoAaMGAAEA1qsjlXZ8d1UAAAAASUVORK5CYII=" data-srcset="{{ file.path }} 1280w, {{ file.path | replace: ".jpg", "_small.jpg" }} 640w, {{ file.path | replace: ".jpg", "_small.jpg" }} 320w" data-sizes="100vw">
    </div>
    {% endif %}
    {% endunless %}
  {% endif %}
{% endfor %}
<a class="back-button" href="{{ "/projects" | relative_url }}">
  <svg class="arrow-left" viewBox="0 0 15 10"><g><path d="M5,0l0.706,0.706L1.914,4.5H15v1H1.914l3.792,3.792L5,10L0,4.999L5,0z"/></g></svg>
  Back to projects</a>
 </div>
</article>