---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<a class="post-link-img" href="{{ post.url | relative_url }}"><img src="/img/{{ post.image-dir }}/{{ post.image-dir }}_01.jpg" class="work" alt="{{ post.alt }}"></a>
          <a id="big-text" class="post-link" href="{{ post.url | relative_url }}" rel="../img/{{ post.image-dir }}/{{ post.image-dir }}_01.jpg">{{ post.title | escape }}</a>
      </li>
    {% endfor %}
  </ul>
</div>